{% load staticfiles %}
<html ng-app="JournalList">
<head>
    <title>Journal List</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script type="text/javascript" src="{% static "js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-resource.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-cookies.js"></script>
    <script type="text/javascript" src="{% static "js/JLApp/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

</head>
<body ng-controller="JLCtrl">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#journallist-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Journal List</a>
    </div>

    <div class="collapse navbar-collapse" id="journallist-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><button type="button" ng-click="decreaseDate()" class="btn btn-default navbar-btn">&lt;</button></li>
            <li><p class="navbar-text">{[{getDateString()}]}</p></li>
            <li><button type="button" ng-click="increaseDate()" class="btn btn-default navbar-btn">&gt;</button></li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-md-4">
        <form ng-submit="addCategory()">
            <input type="text" ng-model="new_category" /><button class="btn" type="submit">Save</button>
        </form>
    </div>
</div>


<div class="row" ng-repeat="cat in JLItems">
    <div class="col-md-4">
        <p class="jlist-category">{[{ cat.category_text }]}</p>
    </div>

    <div class="col-md-8">
        <ul class="jlist-items" ng-repeat="item in cat.items">
            <li ng-repeat="item in cat.items">
                <span ng-hide="editing" ng-dblclick="editing=true">{[{item.item_text}]}</span>
                <form ng-show="editing" ng-submit="editing=false; editItem($parent.$index, $index);">
                    <input type="text" ng-model="item.item_text" /><button class="btn" type="submit">Save</button>
                </form>
            </li>
        </ul>
        <form ng-submit="addItem(cat)">
            <input type="text" ng-model="newItem" /><button class="btn" type="submit">Save</button>
        </form>
    </div>

</div>

</body>
</html>